<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade"  id="exampleModal"  data-controller="bootstrap-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= params[:action] %> book</h5>
        </div>
          <%= render partial_file, book: book %>
      </div>
    </div>
  </div>
<% end %>
