<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "New book", new_book_path, class:"btn btn-primary", data: { controller: "book-modal" } %>


<div id="books">
  <table class="table table-border">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Author</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody id="book_list">
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </tbody>
  </table>
</div>

